<?xml version="1.0" encoding="utf-8"?>
<manifest package="taiwan.no1.app.ssfm"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.splash.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".features.main.MainActivity">
        </activity>
        <activity android:name=".features.login.LoginActivity">
        </activity>
        <activity android:name=".features.playlist.PlaylistActivity">
        </activity>
        <activity android:name=".features.play.PlayMainActivity">
        </activity>
        <activity android:name=".features.chart.ChartActivity">
        </activity>
        <activity android:name=".features.search.SearchActivity">
        </activity>
        <activity android:name=".features.preference.PreferenceActivity">
        </activity>
        <activity android:name=".features.main.TestActivity">
        </activity>

        <service android:name=".controllers.services.InitializeService"/>
        <service android:name=".misc.notification.NotificationService"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>